html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding-top: 100px;
  background-color:#101820FF;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #101820FF;
  border-bottom: solid 1px #FEE715FF;
}

nav a{
  text-decoration: none;
  margin-right: 20px;
}

.logo p{
  font-size: 25px;
  font-weight: 700;
  padding: 1px;
  display: block;
  font-family: 'Lobster', cursive;
  color:  #9b111e;
  /*The green I want - #2CAE66 */
}


.links .active {
  color: #FFFFFF;
}

.links a:hover{
  color: #FFFFFF;
}

.links a{
  color: #FEE715FF;
}

.main_content {
  width: 100%;
  height: auto;
  display: block;
}

.home_page {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 30px;
}


.gallery {
  width: 50%;
  height: 69vh;
  margin: 20px;
  border: solid 1px #2CAE66;
  border-radius: 15px;
}

.intro {
  width: 50%;
  height: 69vh;
  margin: 20px;
}

.intro h1{
  text-align: center;
  font-weight: bolder;
}

.intro h1, p {
  color: #2CAE66;
}

.intro span{
  color: #FFFFFF;
}

.intro p{
  text-align: center;
}

.info {
  margin-top: 25%;
}
